__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.venv/
venv/

data/raw/*
data/processed/*
data/cache/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/cache/.gitkeep

results/
*.pt
*.pkl
*.ckpt
wandb/
.DS_Store
